{{template "_head.html"}}


<div class="container-fluid">
    <h1><a href="/">{{.Name}} - Report </a></h1>

    <div class="row">
        <div class="col-sm-3">

            <ul>
                <li>
                    <a href="/recent">Actions - Search By Namespace</a>
                </li>
                <li>
                    <a href="/all">Actions - All</a>
                </li>

            </ul>
        </div>
    </div>
    <hr>
    <h6> Version:{{.Version}} Build: {{.Build}}  </h6>

</div>


</body>
</html>